@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ant-btn,
.ant-radio-button-wrapper,
.ant-switch-inner,
.ant-dropdown-menu-item {
  font-family: 'Comic Sans MS';
}

/* camera.js */
#cam-video {
  transform: scaleX(-1);
  width: 500px;
  border-radius: 30px;
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.1);
}