@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

div,
html,
html body {
    color: #3e3e3e;
    background-color: #3e3e3e;
    margin-left: auto;
    margin-right: auto;
}

Footer {
    background-color: #3e3e3e;
    margin-top: 40px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* Navbar */
.ant-layout-header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
}

.ant-btn-lg > span {
    font-family: "Roboto";
}

.ant-btn-lg:hover {
    color: #00ff66;
}

.header {
    position: sticky;
    padding-top: 1vh;
    justify-content: space-between;
    background-color: #dadada;
}

.header div {
    background-color: #dadada;
}

#logo {
    color: black;
    margin-top: -0.3vh;
}

#logo .ant-anchor-link {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-right: 30px;
    margin-top: auto;
}

#logo a:hover {
    color: #00923a;
}

#logo .ant-anchor-link:before,
#logo .ant-anchor-link:after {
    opacity: 0%;
}

#logo .ant-anchor-link-active > .ant-anchor-link-title {
    color: #00923a;
}

.header .ant-anchor-wrapper {
    overflow: hidden;
    margin-right: 0px;
    padding-right: 200vh;
    width: 1vh;
}

.header .ant-anchor {
    position: relative;
    display: flex;
    font-family: "Roboto";
    font-size: 18px;
}

.header .ant-anchor-ink {
    display: none;
}

.header .ant-anchor-link {
    padding: 9px 20px;
    line-height: 1.4;
    position: relative;
}

.header .ant-anchor-link-active > .ant-anchor-link-title {
    color: #00923a;
    font-weight: bold;
}

.header .ant-anchor-link-title:hover {
    color: #00923a;
    font-weight: bold;
    opacity: 60%;
}

.header .ant-anchor-link:before {
    opacity: 50%;
}

.header .ant-anchor-link:before,
.header .ant-anchor-link:after {
    content: "";
    background: #00923a;
    width: 2px;
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 30%;
    opacity: 0;
    transition: all 0.2s linear;
}

.header .ant-anchor-link:after {
    left: auto;
    right: 30%;
}

.header .ant-anchor-link.ant-anchor-link-active:before,
.header .ant-anchor-link:hover:before {
    left: 5%;
    opacity: 1;
}

.header .ant-anchor-link.ant-anchor-link-active:after,
.header .ant-anchor-link:hover:after {
    right: 5%;
    opacity: 1;
}

/* Homepage */

#base,
#about,
#members {
    height: 100vh;
}

#desc {
    font-size: 25px;
    color: #b2b2b2;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5vh;
    width: 60vh;
}

#Title {
    color: white;
    font-family: "Roboto";
    font-size: 70px;
    text-align: center;
    padding-top: 10vh;
}

/* About Page */
#about #ant-row {
    height: 100vh;
    margin-top: auto;
    display: block;
}

#about .ant-col-12 {
    margin-top: 15%;
}

#about h1 {
    color: white;
    font-family: "Roboto";
    font-size: 5vh;
    text-align: left;
    margin-left: 25%;
}

#about p {
    color: #b2b2b2;
    font-family: "Roboto";
    font-size: 2.5vh;
    text-align: left;
    width: 60vh;
    margin-left: 25%;
}

#about #button-middle {
    margin-top: 3vh;
    text-align: left;
    margin-left: 25%;
}

/* Landing Page (base) */

#base h1{
    margin-top: 500px;
}

#base .ant-btn-primary{
    position: absolute;
    left: 45%;
    top: 60%;
    width: 200px;
    height: 60px;
}

/* Button */

#button-middle {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1vh;
    text-align: center;
}

a.ant-btn-primary {
    color: black;
    background: white;
    border-color: white;
    border-radius: 5px;
    width: 20vh;
    height: 5vh;
    text-align: center;
}

a.ant-btn-primary:hover {
    color: white;
    background: #00923a;
    border-color: #00923a;
    border-radius: 5px;
}

.ant-btn-lg > span {
    padding-top: 0.8vh;
    font-size: 1.5vh;
    text-align: center;
}

/* Carousel */

div .ant-carousel {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#carousel-container {
    height: 60vh;
    background-color: white;
}

#carousel-container h1 {
    text-align: center;
    font-family: "Roboto";
    font-size: 3vh;
    margin-bottom: -1vh;
}

#carousel-container h2 {
    text-align: center;
    font-family: "Roboto";
    font-size: 2.8vh;
    margin-bottom: 0vh;
}

#carousel-container div {
    background-color: white;
    border-radius: 20px;
}

#carousel-container h3 {
    display: block;
    margin: auto;
    width: 30vh;
}

#carousel-container img {
    border-radius: 34px;
}

#carousel-container p {
    margin: auto;
    text-align: center;
    font-family: "roboto";
    font-size: 1.6vh;
    width: 60vh;
}

/* Carousel Buttons */

#members .ant-carousel .slick-dots li button {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: black;
}

#members .ant-carousel .slick-dots li.slick-active button {
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background: black;
}

/* Mesekai Page */

#mesekai {
    overflow-x: hidden;
}

#mesekai h1{
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100vh;
}

#mesekai button.ant-btn{
    background-size: contain;
    opacity: 70%;
    border-radius: 5px;
    width: 15vh;
    height: 20vh;
    margin-right: 5px;
    margin-left: auto;
    margin-bottom: 6px;
    font-family: "roboto";
    font-size: 1.5vh;
    color: #ffffff;
}

#mesekai button.ant-btn:focus{
    color: #00d656;
    border-color: #00923a;
}

#mesekai button.ant-btn:hover{
    opacity: 100%;
    color: #00d656;
    border-color: #00923a;
    border-radius: 5px;
}

#mesekai .ant-row{
    text-align: center;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 100vh;
}

#mesekai .ant-tabs-content-holder{
    overflow-y: scroll;
    overflow-x: hidden;
}

#mesekai .ant-tabs{
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    width: auto;
}

#mesekai .ant-tabs-tab-btn{
    color:#dadada;
    font-family: "roboto";
    font-size: 1.8vh;
}

#mesekai .ant-tabs-tab-active{
    color:#00d656;
}

#mesekai .ant-tabs-ink-bar {
    background-color: #00d656;
}

#mesekai .ant-spin-spinning{
    background-color: transparent;
    color:#00ff66;
    opacity: 100%;
}

.ant-tabs-content-holder::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
}