.loadingtext {
    font-family: 'roboto';
    font-size: 3vh;
    position: absolute;
    top: 5%;
    left: 20%;
    background-color: transparent;
    animation-duration: 800ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.6;
    }
}
